body {
background-color: black;
color: white;
font-family: 'Revalia', cursive;
}

.welcome{
  padding-top: 5em;
  width: 33%;
  margin-right: auto;
  margin-left: auto;
  line-height: 1.6em;
  font-size: 2em;
}
.container {
  box-sizing: border-box;
  width: 33%;
  margin-right: auto;
  margin-left: auto;
  height: 33%;
  font-family: 'Revalia', cursive;
}


.color {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}

.lbackground{
  box-sizing: border-box;
  opacity: 0.5;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: -100;
}

.wbackground{
  box-sizing: border-box;
  opacity: 0.3;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: -100;
}

.txtcontent{
  font-size: 2em;
  text-align: center;
  color: white;
  width: 40%;
  margin-right: auto;
  margin-left: auto;
  font-family: 'Revalia', cursive;
}

 a {
  display: block;
  margin-top: 1em;
  text-decoration: none;
  color: white;
  font-size: .5em;
  border: 4px solid;
  border-color: white;
  width: 100%;
}

 a:hover {
  background-color: white;
  color: black;
}
